[tool.black]
line-length = 100
target-version = ["py311"]
include = "\\.pyi?$"
exclude = "(\.venv|whot2watch_venv|whot2watch-docs|node_modules|\.git|\.github)"

[tool.isort]
profile = "black"
line_length = 100
skip = ["whot2watch_venv", ".venv", "whot2watch-docs", "node_modules"]

[tool.flake8]
max-line-length = 100
extend-ignore = ["E203", "W503"]
per-file-ignores = [
  "__init__.py:F401",
]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
strict = false
